body{
    background-color: #07212c;
    color: #fdffff;
    width: 500px;
    margin-right: auto;
    margin-left: auto; 
}
button{
    padding: 5px 20px;
    background-color: #00A;
    border-style: none;
    color: #fdffff;
}
input{
    height: 20px;
}
